{% extends 'base.html.twig' %}

{% block title %}Les recettes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe-details.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="title">{{ recipe.title }}</h1>
    <div class="container">
        <div class="recipe-container" style="display: inline-block; width: 80%;">
            <div class="image-container">
                <img src="{{ asset('pictures/' ~ recipe.pictureName) }}" alt="Photo de la recette {{ recipe.title }}" class="recipe-picture" />
            </div>
            <p class="recipe-introduction text">{{ recipe.description|raw }}</p>
            <p class="text"><span class="text-title">Temps de préparation:</span> 
            {{ recipe.preparationTime is null ? '0' : recipe.preparationTime }} minutes
            </p>
            <p class="text"><span class="text-title">Temps de repos:</span>
            {{ recipe.breakTime is null ? '0' : recipe.breakTime }} minutes
            </p>
            <p class="text"><span class="text-title">Temps de cuisson:</span>
            {{ recipe.cookingTime  is null ? '0' : recipe.cookingTime}} minutes
            </p>
            <div class="list-ingredients-container">
                <p class="text-title text">Ingredients</p>  
                <ul class="list-ingredients">
                    {% for ingredient in recipe.getIngredients() %}
                        <li class="text"><b>{{ ingredient.name }} :</b> {{ ingredient.quantity }} {{ ingredient.unity }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="steps">
                <p class="text-title text">Étapes</p>
                {% for step in sortedSteps %}
                    <p class="text"><b>Étape {{ step.orderNumber }} </b>  {{ step.description }}</li>
                {% endfor %}
                </p>
            </div>
            <p class="text-title text">Recette adaptée pour les régimes</p>
            <ul>
                {% if recipe.getDiets()|length > 0 %}
                    {% for diet in recipe.getDiets() %}
                        <li class="text">{{ diet.name }}</li>
                    {% endfor %}
                {% else %}
                    <li class="text">Aucun</li>
                {% endif %}
            </ul>
            <p class="text-title text">Liste des allergènes</p>
            <ul>
                {% if recipe.getAllergens()|length > 0 %}
                    {% for allergen in recipe.getAllergens() %}
                        <li class="text">{{ allergen.name }}</li>
                    {% endfor %}
                {% else %}
                    <li class="text">Aucun</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h2 class="title">Vos avis</h2>
    <div class="row">
        {% for review in recipe.reviews %}
            <div class="col-xl-4 col-lg-6 col-12 review-item">
                <div class="review-container">
                    <div class="rate">
                        {% for i in 1..5 %}
                            {% if i <= review.rate %}
                                <span class="star yellow-star">★</span>
                            {% else %}
                                <span class="star">☆</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="review-text text">{{ review.comment }}</p>
                    <p class="review-name">{{ review.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="form-review-container" style="margin-bottom:50px;">
        {% if app.user is not null %}

        {{ form_start(form, {'attr': {'id':'review-form', 'class': 'form review-form'}}) }}
        {{ form_widget(form.recipes, {'value': recipe.id}) }}
        {{ form_widget(form.users, {'value': user.id}) }}
        {{ form_widget(form.name, {'attr': {'id': 'name', 'name': 'name', 'value': ' ' ~ app.user.getLastName ~ ' ' ~ app.user.getFirstName, 'required': 'required'}}) }}
        {{ form_label(form.comment, 'Donnez-moi votre avis', {'label_attr': {'class': 'label text'}}) }}
        {{ form_widget(form.comment, {'attr': {'id': 'comment', 'rows': '10', 'cols': '33', 'maxlength':'350'}}) }}

        <p class="label">Note</p>
        <div class="rating-form-container"  id="star-rating">
            <div class="rating">
                <input type="radio" id="star1" name="rating" value="5" />
                <label for="star1"></label>
                <input type="radio" id="star2" name="rating" value="4" />
                <label for="star2"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3"></label>
                <input type="radio" id="star4" name="rating" value="2" />
                <label for="star4"></label>
                <input type="radio" id="star5" name="rating" value="1" />
                <label for="star5"></label>
            </div>
        </div>
        <input type="submit" class="button form-button" value="Envoyer">
        {{ form_end(form) }}
        {% endif %}
        <div class="error-message text" style="display: none;">Veuillez sélectionner une note.</div>
    </div>
{% endblock %}